.header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}
.header .container {
  display: flex;

  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 32px;
  align-items: center;

  gap: 8px;
}
.header-nav-list {
  display: none;
}
.header-list-btm {
  display: none;
  padding-top: 19px;
  padding-bottom: 20px;
}
.burger-btn {
  margin-right: 27px;

  border: none;
  background-color: transparent;
}
.burger-btn-icon {
  display: block;
}

@media screen and (min-width: 412px) {
  .header {
    box-shadow: none;
  }
  .header-nav-link {
    margin-right: 237px;
    gap: 16px;
  }
  .header-nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .header-list-btm {
    display: flex;
  }
  .burger-btn {
    display: none;
  }

  .header-nav-list-item-link {
    color: #22343d;
    padding: 26px 0;
  }
  .header-list-btm {
    display: flex;

    gap: 21px;
  }
  .header-list-btm-item {
    display: flex;
    padding: 19px 0;
  }

  .header-list-button {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    color: #173a56;
    font-weight: 600;
    font-size: 16px;
  }
  .header-list-button-two {
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
    border: none;
    font-weight: 600;
    font-size: 16px;
  }
}